﻿@using StaffServer.Models
@model IEnumerable<Company>

<select id="companyId" name="companyId" style="width: 280px; height: 25px; position: relative; left: 25px">
    @foreach (var company in Model)
    {
        <option value="@company.Id" @(company.Id == ViewBag.companyId ? "selected=\"selected\"" : "")>
            @company.Name
        </option>
    }
</select>
