﻿@using StaffServer.Models;
@model Employee

@using (Html.BeginForm())
{
    <p style="position: relative; left: 5px">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "TextBoxclass", @maxlength = "50", @required = true } })
        @Html.HiddenFor(model => model.Id)
    </p>
    <p style="position: relative; left: 5px">
        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "TextBoxclass", @maxlength = "50", @required = true } })
    </p>
    <p style="position: relative; left: 5px">
        @Html.LabelFor(model => model.Patronymic, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Patronymic, new { htmlAttributes = new { @class = "TextBoxclass", @maxlength = "50", @required = true } })
    </p>
    <p style="position: relative; left: 5px">
        <label class="control-label col-md-2">Phone</label> 
        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "TextBoxclass", @pattern = "[0-9]{11}", @placeholder = "89000000000" } })
    </p>
    <p style="position: relative; left: 5px">
        <label class = "control-label col-md-2">Copany</label>
        @Html.Partial("_companiesEditor", @ViewData["companies"])
    </p>
    <br />
    <input type="submit" value="@ViewBag.Button">
    <br /><br />
}
@using (Html.BeginForm("Staff", "Staff"))
{
    <input type="hidden" value="@ViewBag.companyId" name="companyId">
    <input type="submit" value="Back">
}

