﻿@model IEnumerable<StaffServer.Models.Employee>
@using (Html.BeginForm("ChangeEmployee", "Staff", FormMethod.Get))
{
    <p>
        <select size="10" name="employeeId" class="SelectClass" required>
            <option disabled>select employee</option>
            @foreach (var employee in Model)
            {
                <option value="@employee.Id">
                    @employee.Surname &nbsp; @employee.Name &nbsp; (@employee.Company.Name)
                </option>
            }
        </select>
    </p>
    <input type="hidden" value="@ViewBag.companyId" name="companyId">
    <input type="submit" value="Show info">
    <br/>
    <br/>
    <input type="submit" value="Remuve employee" formaction="@Url.Action("RemyveEmployee", "Staff")">
    <br/>
    <br/>
}
@using (Html.BeginForm("AddEmployee", "Staff", FormMethod.Get))
{
    <input type="hidden" value="@ViewBag.companyId" name ="companyId">
    <input type="submit" value="Add employee">
}
<br />
@using (Html.BeginForm("Companies", "Companies", FormMethod.Get))
{
    <input type="submit" value="Go to companies">
}

