﻿@model StaffServer.Models.Company
@using (Html.BeginForm())
{
    <p style="position: relative; left: 5px">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "TextBoxclass", @maxlength = "50", @required = true} })
        @Html.HiddenFor(model => model.Id)
    </p>
    <input type="submit" value="@ViewBag.Button">
    <br /><br />
}
<form action="/">
    <input type="submit" value="Back">
</form>
