﻿@model IEnumerable<StaffServer.Models.Company>

@using (Html.BeginForm("Staff", "Staff", FormMethod.Get))
{
    <p>
        <select size="10" name="companyId" class="SelectClass" required>
            <option disabled>select company</option>
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </p>
    <input type="submit" value="Show staff">
    <br /><br />
    <input type="submit" value="Remuve company" formaction="@Url.Action("RemuveCompany", "Companies")">
    <br /><br />
    <input type="submit" value="Change company" formaction="@Url.Action("ChangeCompany", "Companies")">
    <br /><br />
}

@using (Html.BeginForm("AddCompany", "Companies", FormMethod.Get))
{
    <input type="submit" value="Add company">
}

