﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        input {
            height: 25px;
            width: 150px;
            position: relative;
            left: 170px;
        }
        .TextBoxclass {
            width: 280px;
            position: relative;
            left: 25px;
        }
        .SelectClass {
            width: 280px; 
            position:relative; 
            left: 100px; 
            background-color: beige;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Staff of companies", "Companies", "Companies", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Companies", "Companies", "Companies")</li>
                    <li>@Html.ActionLink("All personnel", "AllPersonnel", "Staff")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="width:500px; height:435px; background-color:grey; clear:both; border:5px solid">
            <h1 align="center" style="background-color:blueviolet">@ViewBag.Title</h1>
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My staff server</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
